<h1 class="header">News Aggregator Plus</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <h2> <%= article.title %> </h2>
      <h4> <%= article.description %> </h4>
      <a href="<%= article.url %>" target="_blank"> <%= article.url %></a>
    </li> <br>
  <% end %>
</ul>

<h4 class="new"><a href="/articles/new">Add a New Article</a></h4>
