<h1 class="header">News Aggregator Plus</h1><br>

<h2><%= @article.title %></h2><br>
<h3><%= @article.description %></h3><br>
<a href="<%= @article.url %>" target="_blank"> <%= @article.url %></a><br><br>


<a class="back" href="/">Back to All Articles</a><br/>
<a class="back" href="/articles/new">Add a New Article</a>
